job "turbo-geth" {
  datacenters = ["dc1"]

  group "geth" {
    
    network {
      mode = "bridge"
    
      port "tcp_udp" {
        static = 30303
        to     = 30303
      }
    
      port "rpcdaemon" {
        static = 8545
        to     = 8545
      }
    }

    volume "data" {
      type      = "host"
      source    = "data"
      read_only = false
    }

    count = 1
    
    task "erigon" {
      resources {
        cpu    = 800
        memory = 4096
      }
      driver = "docker"
      config {
        image = "testcasegw/tgeth"
        command = "erigon"
        args  = [
          "--datadir", "/ethdata",
          "--chain", "ropsten",
          "--private.api.addr", "0.0.0.0:9090",
          "--pprof",
          "--pprof.addr", "0.0.0.0",
          "--pprof.port", "6061",
        ]
        ports = ["tcp_udp"]
      }
      volume_mount {
        volume      = "data"
        destination = "/ethdata"
        read_only   = false
      }
    }

    task "rpc" {
      driver = "docker"
      config {
        image = "testcasegw/tgeth"
        command = "rpcdaemon"
        args  = [
          "--private.api.addr", "erigon:9090",
          "--http.addr", "0.0.0.0",
          "--http.vhosts", "*",
          "--http.corsdomain", "*",
          "--http.api", "eth,debug,net",
        ]
        ports = ["rpcdaemon"]
      }
    }

  }
}